{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div style="height:150px;width:100%">

    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{library.image.url}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{library.title}}</h5>
        <p class="card-text">{{library.author}}</p>
        <p class="card-text"><small class="text-muted">{{library.descreption}}</small></p>

          <a href="{% url 'Bookapp:update' library.id %}" class="btn btn-success">Update</a>
          <a href="{% url 'Bookapp:delete' library.id %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
        </div>
    </div>
</div>

{% endblock %}